<div class="sidebar">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    -->
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="javascript:void(0)" class="simple-text logo-mini">
            1조
          </a>
          <a href="javascript:void(0)" class="simple-text logo-normal">
            안심 귀갓길
          </a>
        </div>
        <ul class="nav">

          <li class="active">
            <a href="/">
              <i class="tim-icons icon-chart-pie-36"></i>
              <!-- <i class="tim-icons icon-atom"></i> -->
              <p>범죄분석</p>
            </a>
          </li>
          <li>
            <!-- <a href="cctv_map"> -->
            <a href="/map">
              <i class="tim-icons icon-pin"></i>
              <p>위치지도</p>
            </a>
          </li>
          <li>
            <a href="/result">             
              <i class="tim-icons icon-world"></i>
              <p>지역별 분석 결과</p>
            </a>
          </li>

        </ul>
      </div>
    </div>